<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../src/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <header>
        <h1>Log in to Shh!</h1>
        <a href="#"><img src="../src/stora/img/google.png">   Log in with Google</a>
        <p>Or log in with email</p>
    </header>
        
    <main>
        <form>
            <label for="email">Username or Email</label>
                <input type="text" >
            <label for="password">Password    Forgot?</label>
            <input type="password" >
        
        </form>
        <section class="section__form">
            <p>Don´t have an account?</p>
            <a href="views/login.html">Sign Up</a>
        </section>
    </main>
    <footer>
        <img src="../src/stora/img/girl-two.png">
    </footer>
    
</body>
</html>